<!DOCTYPE html>
<html>
<head>
	<title>User Authentication</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<style>
		body { 
			padding-top:80px; 
			background-image: url('/img/back_auto.jpg');
			background-size: 1430px  630px;
		}

	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> User Authentication</h1>

		<p>Admin or Customer with:</p>

		<a href="/User_admin" class="btn btn-success"><span class="fa fa-user"></span> Admin</a>
		<a href="/User_customer" class="btn btn-primary"><span class="fa fa-user"></span> Customer</a>
	</div>

</div>
</body>
</html>
