<!DOCTYPE html>
<html> 
<head>
    
    <title>User Panel</title> 
	<!-- Google Fonts-->
	<link href="/css/font.css" rel="stylesheet" />
	<!-- Materialize Styles-->
	<link href="/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/css/custom-styles.css" rel="stylesheet" />
    
    
    
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                
                <a class="navbar-brand waves-effect waves-dark" href="user_panel.html"><i class="large material-icons">home</i> <strong>Fresh Food</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><img src="/icon_img/admin.png"> <b>User</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
		</nav>
		
		<!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#"> My Profile</a></li>
            <li><a href="/index.html"> Logout</a></li>
        </ul>

	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

					<li>
						<a href="/foods_user" class="waves-effect waves-dark"><img class="admin_img" src="/icon_img/food.png">Foods</a>
					</li> 
                    <li>
                        <a href="#" class="waves-effect waves-dark"><img class="admin_img" src="/icon_img/all_order.png"> All Orders</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		 
            <div id="page-inner">

			<div class="dashboard-cards"> 
			   <br><br><br><br>
				<table  class="table table-striped">

					<tr>
						<td><big><b>Id:</b></big> </td>
					</tr>
					<tr>
						<td><big><b>Name:</b></big> </td>
					</tr>
					<tr>
						<td><big><b>Email:</b></big> </td>
					</tr>
					<tr>
						<td><big><b>Mobile:</b></big> </td>
					</tr>
					<tr>
						<td><big><b>Password:</b></big> </td>
					</tr>

				</table>
				
                <!--Footer-->
				<footer>
					<p>All right reserved. Template by: WebThemez.com & Morol</p>       
				</footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
	<!-- /. WRAPPER  -->
	
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/js/jquery-3.4.1.min.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="/js/bootstrap.min.js"></script>
	
	 <!-- Material Js -->
	<script src="/js/materialize.min.js"></script>
	
	 <!-- Chart Js -->
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>

    <!-- Custom Js -->
	<script src="/js/custom-scripts.js"></script> 

 
</body>

</html>