body {
    margin: 0;
    padding: 0;
    background-image: url('/resource/css/img/back_login.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.SignUpinbox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    position: absolute;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(0, 148, 255);
}

.labName, .labPass, .labEmail, .labPhone {
    font-weight: bold;
    color: #ADFF2F;
}

.txtname, .txtpass, .txtemail, .txtphone, .btnsubmit {
    width: 100%;
    margin-bottom: 20px;
}

.txtname, .txtpass, .txtemail, .txtphone {
    border: none;
    border-bottom: 2px solid #A9A9A9;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

placeholder {
    color: rgba(255, 255, 255, 5);
}

.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 9, 9);
    cursor: pointer;
    border-radius: 18px;
    transform: .3s ease-in-out;
}

.submit {
    width: 130px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: rgb(255, 9, 9);
    color: #fff;
    border: none;
    text-align: center;
}

.btnsubmit:hover,
.submit:hover {
    background-color: rgb(255, 217, 9);
}